OPENSEARCH_HOST=
OPENSEARCH_USER=
OPENSEARCH_PASSWORD=
OPENSEARCH_INDEX=
OPENSEARCH_EMBEDDING_INDEX=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_TASK_DEPLOYMENT=
AZURE_EMBEDDING_DEPLOYMENT=
